ul {
  list-style: none;
}

.invader {
  width: 30px;
  height: auto;
}

#invader1 {
  position: absolute;
  top: 0;
  left: 0;
}

#invader2 {
  position: absolute;
  top: 0;
  left: 50px;
}

.bullets {
  position: absolute;
}

#starship {
  position: absolute;
  top: 500px;
  left: 50px;
}